<div id="config" class="box">
	<h3>project configuration
    <%= button_to_function('launch', "launchJob()") %>
    </h3>
    <div id="configboard">
      <form>
       Name: <input type="text" id="expname"> 
      <input type="radio" name="gene" value="mm9" checked /> mm9
      <input type="radio" name="gene" value="hg19" /> hg19
      <h4>samples</h4>
       Run: <input type="text" class="sample" />
       Lane: <input type="text" class="sample" />
     &nbsp;&nbsp;&nbsp;&nbsp; 
       Run: <input type="text" class="sample" />
       Lane: <input type="text" class="sample" />
     &nbsp;&nbsp;&nbsp;&nbsp; 
       Run: <input type="text" class="sample" />
       Lane: <input type="text" class="sample" />
     &nbsp;&nbsp;&nbsp;&nbsp; 
       Run: <input type="text" class="sample" />
       Lane: <input type="text" class="sample" />
      <br />
       Run: <input type="text" class="sample" />
       Lane: <input type="text" class="sample" />
     &nbsp;&nbsp;&nbsp;&nbsp; 
       Run: <input type="text" class="sample" />
       Lane: <input type="text" class="sample" />
     &nbsp;&nbsp;&nbsp;&nbsp; 
       Run: <input type="text" class="sample" />
       Lane: <input type="text" class="sample" />
     &nbsp;&nbsp;&nbsp;&nbsp; 
       Run: <input type="text" class="sample" />
       Lane: <input type="text" class="sample" />

      </form>
    </div>
</div>
