<div id="<%= gadget %>" class="box">
	<h3><%= title %>
    <%= button_to_function('reload', %Q(reloadInfo("#{gadget}"))) %>
    </h3>
    <div class='data'>
      <%= render :template => "/gadgets/#{gadget}" %>
    </div>
</div>
