<h1 id="title">mcPipeline</h1>
<a href="http://www.manycolors-inc.com">
  <img id="logo" src="images/manycolors_logo.png" alt="manycolors" />
</a>
<div class="clear"></div>
<%= render 'config' %>
<%= render 'gadget_box', :gadget => 'queue', :title => 'jobs' %>
<%= render 'gadget_box', :gadget => 'cluster', :title => 'hgc cluster' %>
<div class="clear"></div>
